

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /*font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif; */
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #dce2ee;
}


#inputDiv{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
}

#inputFile{
    margin-left: 140px;
}

#output{
    display: flex;
    justify-content: center;
    text-align: center;
}

table {
    border-spacing: 200px 0;
}

/*
tr:first-of-type {
    font-size: larger;
    font-weight: bold;
}
*/

td {
    padding: 15px 0;
    padding-left: 50px;
}


#editPage{
    
    position: absolute;
    right: 230px;
    margin-top: 20px;
}



#delete{
    float: right;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container button {
    padding: 7px 7px;
    margin: 7px 7px;
    margin-top: px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    border-radius: 3px;
    transition: 0.5s;   
    border: 1px;
    background-color: #ffffff;
    width: 128px;
}

.container a {
    color: #000;
    font-style: normal;
}

/*
.container button:hover {
    background-color: rgb(216, 216, 216);
}
*/

#cancel{
    position: absolute;
    right: 180px;
}

#studentInfo_wrapper{
    margin: 5%;
    margin-top: 5px;
}
.no-click {
    pointer-events: none;
}

.sidebar{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    font-size: large;
    font-display: uppercase;
    float: right;
    height: 100%; 
    width: 400px; 
    position: fixed; 
    z-index: 1; 
    top: 20px; 
    right: 0;
    overflow-x: hidden;
    padding-top: 0%;
    padding-right: 10px;
}

#noteArea{
    width: 800px;
    margin-left: 200px;
}

#label1{
    padding-left: 20%;

}

#saveButton{
    margin-left: 20%;
}

#notesDiv{
    width: 300px;
    margin: 0 auto;
    float: left;
}
    


.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-display: uppercase;
    display: inline;
}



.mainNav a {
    font-size: 1.5rem;
}

