* {
  /* box-sizing: border-box; */
  display: flexbox;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
}

body {
  background-color: #dce2ee;
}

/* TABLE */

.sidebar {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

/* BUTTONS */

#tab-button button {
  padding-left: 10px;
  margin-left: 10px;
  width: 135px;
  background: rgb(158, 158, 158);
  width: 700px;
}

#saveButton {
  margin-left: 20%;
}

.container button {
  padding: 7px 7px;
  margin: 7px 7px;
  margin-top: px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px;
  /* background-color: #ffffff; */
  width: 128px;
}

.container a {
  text-decoration: none;
}

.container button:hover {
  background: #6bcaba;
  text-decoration: none;
}

.backbtn {
  padding: 7px 7px;
  margin: 7px 7px;
  margin-top: px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px;
  background-color: #ffffff;
}

.savebtn {
  width: 135px;
  background: rgb(158, 158, 158);
}

.backbtn:hover {
  background-color: rgb(216, 216, 216);
}

.backbtn:hover {
  background-color: rgb(216, 216, 216);
}

/* NAVBAR */

.nav-item {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2rem;
  display: inline;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #dee0e4;
}

.addTable {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

/* LOGIN */

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #6bcaba;
  color: #ffffff;
}

.login form input[type='password'],
.login form input[type='text'] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type='submit'] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #6bcaba;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type='submit']:hover {
  background-color: #dce2ee;
  transition: background-color 0.2s;
}

/* TABS */

/* .tabs {
  background-color: #dce2ee;
}

#tab-button li {
  background-color: rgb(228, 228, 228);
  margin: 0px 5px;
  border-radius: 3px;
  transition: 0.5s;
}

#tab-button li:hover {
  background-color: rgb(211, 211, 211);
}

.tab-content {
  display: none;
  margin-left: 10px;
}

#tab-1 {
  display: block;
  width: 50%;
}

#tab-2 {
  display: block;
  width: 50%;
}

#tab-button {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5px 5px;
  padding-left: 5px;
}

#tab-button a {
  color: red;
} */

/* NOTES */

#notesDiv {
  width: 300px;
  margin: 0 auto;
  float: left;
}

/* INSERTSHEET */

#inputDiv {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
}

#inputFile {
  margin-left: 140px;
}

#output {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* EDITDATA */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .container a {
  color: #000;
  font-style: normal;
} */

#studentInfo_wrapper {
  margin: 5%;
  margin-top: 0px;
}

/* NOT SURE */

.left {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}

#delete {
  float: right;
}

#cancel {
  position: absolute;
  right: 180px;
}

#editPage {
  position: absolute;
  right: 230px;
  margin-top: 20px;
}

.current {
  background: rgb(158, 158, 158) !important;
  z-index: 2;
}

.no-click {
  pointer-events: none;
}

#label1 {
  padding-left: 20%;
}

/* TABS */

.tabs {
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 50%;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: 0.5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: 0em 0em 1em;
  border: 1px solid #ddd;
  padding-bottom: 2.5em;
}

.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

#showcheckbox {
  float: left;
}

#mainTabs {
  background: #dce2ee;
}

#checkBox {
  background: #dce2ee;
  display: contents;
}
