

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /*font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif; */
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #435165;
}


#inputDiv{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
}

#inputFile{
    margin-left: 140px;
}

#output{
    display: flex;
    justify-content: center;
    text-align: center;
}

table {
    border-spacing: 200px 0;
}

/*
tr:first-of-type {
    font-size: larger;
    font-weight: bold;
}
*/

td {
    padding: 15px 0;
    padding-left: 50px;
}


#editPage{
    
    position: absolute;
    right: 230px;
    margin-top: 20px;
}


#delete{
    float: right;
}
#add{
    position: absolute;
    right: 15px;
    margin-right: 60px;
}

.editButton {
    position: absolute;
    right: 15px;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    border-radius: 3px;
    transition: 0.5s;   
}

.editButton:hover {
    background-color: rgb(236, 236, 236);
}
#cancel{
    position: absolute;
    right: 180px;
}

#studentInfo_wrapper{
    margin: 5%;
}
.no-click {
    pointer-events: none;
}

.sidebar{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    font-size: large;
    font-display: uppercase;
    float: right;
    height: 100%; 
    width: 400px; 
    position: fixed; 
    z-index: 1; 
    top: 20px; 
    right: 0;
    overflow-x: hidden;
    padding-top: 0%;
    padding-right: 10px;
}

#noteArea{
    width: 800px;
    margin-left: 200px;
}

#label1{
    padding-left: 20%;

}

#saveButton{
    margin-left: 20%;
}

#notesDiv{
    width: 300px;
    margin: 0 auto;
    float: left;
}
    



/* home page styling */

.nav-items {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-display: uppercase;
    display: inline;
}

.left {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}


.current a {
    color: red;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;
}

.mainNav a {
    font-size: 1.5rem;
}





/* login edit*/

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #6bcaba;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #6bcaba;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}